.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 100px;
    cursor: pointer;
    outline: none;
    border: none;
}

.BuildControl button:disabled {
    background-color: rgb(50, 50, 50);
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
    box-shadow: none;
}

.BuildControl button:hover:disabled {
    background-color: rgb(50, 50, 50);
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    width: 70px;
    color: whitesmoke;
}

.BuildControl .Less {  
    background-color: rgb(30, 30, 30);
    color: white;
    margin-right: 20px;
    box-shadow: 0px 0px 2px 1px red;
}

.BuildControl .More {
    background-color: rgb(30, 30, 30);
    color: white;
    box-shadow: 0px 0px 3px 1px green;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(30, 0, 0);
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgb(0, 30, 0);
    color: white;
}